@import "font-awesome";
@import "font-awesome-sprockets";
$grey: white;
$font-color: #515783;
$light-text: #ABB0BE;
$main-color: #6394F8;
@font-face {
  font-family: 'manga-temple';
  src: font-url('manga-temple.ttf');
  src: font-url('manga-temple.ttf?#iefix') format('truetype');
}

body {
  background: $main-color;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin: 0;
  z-index: 1;
  overflow-y: scroll;
}

#banner {
  background: $main-color;
  padding-top: 0;

  .lighter-text {
    color: $light-text;
  }

  .main-color-text {
    color: $main-color;
  }

  nav {
    padding: 0 0 50px;
    background: $grey;
    font-size: 16px;
    width: 100%;


    .navbar-left {
      float: left;
      margin-bottom: 20px;
      margin-left: 10%;
      cursor: pointer;
    }

    .navbar-right {
      float: right;
      cursor: pointer;
    }

    ul {
      li {
        display: inline-block;
        padding-left: 10px;
        padding-top: 0;
        padding-right: 20px;
        list-style-type: none;

        a {
          color: #777777;
          text-decoration: none;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .container {
    margin: auto;
    width: 80%;
    position: absolute;
  }

  .badge {
    background-color: $main-color;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

  .shopping-cart {
    margin: 10px 0 0;
    padding: 20px 20px 15px;
    float: right;
    background: white;
    min-width: 320px;
    position: relative;
    border-radius: 5px;
    z-index: 2;

    .shopping-cart-header {
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 15px;

      .shopping-cart-total {
        float: right;
      }
    }

    .shopping-cart-items {
      padding-top: 5px;
      padding-left: 10px;
      max-height: 400px;
      overflow-y: auto;

      li {
        list-style-type: none;
        vertical-align: top;
      }

      .item-name {
        display: inline-block;
        font-size: 16px;
        padding-top: 10px;
        width: 306px;
        float: left;
      }

      .item-price {
        color: $main-color;
        margin-right: 2px;
        float: right;
        display: inline-block;
      }

      .item-quantity {
        color: $light-text;
        float: left;
        display: block;
      }

      .quantity {
        form,
        input {
          background: white;
          color: $main-color;
          text-decoration: none;
          display: inline-block;
          float: right;
          border: none;
          font-size: 15px;

          &:hover {
            border: none;
            border-color: white;
          }
        }
      }
    }
  }

  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }

  .cart-icon {
    color: $font-color;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }

  .button {
    border-top: 1px solid #E8E8E8;
    display: block;
    font-size: 16px;margin: auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;

    form,
    input {
      background: $main-color;
      border: none;
      color: white;
      font-size: 16px;
      float: none;
      width: 280px;
      height: 40px;
      border-radius: 5px;
      display: inline;

      &:hover {
        background: lighten($main-color, 3%);
        border: none;
      }
    }
  }
}
// Banner end

.depot_form {
  fieldset {
    legend {
      padding: 0.2em 1em;
    }

    div {
      margin-bottom: 0.3em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    input,
    select,
    textarea {
      border-radius: 2px;
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    .button {
      font-size: 16pt;

    }

    br {
      display: none;
    }

    input[type="text"]:focus, input[type="password"]:focus {
        outline: none;
        box-shadow: 0 0 5px 1px $main-color;
        //border: solid 1px $main-color;
    }

  }
}
// Depot end

#notice {

  color: #000 !important;
  border: 2px solid $font-color;
  background-color: $grey;
  font: bold smaller sans-serif;
  margin: auto;
  padding: 1em;
  margin-top: 30px;
  text-align: center;
  position: relative;
  width: 80%;
}

#notice:empty {
  display: none;
}
// Notice end

.main {
  text-align: center;
  margin: auto;

  h1 {
    font-size: 48pt;
    padding-top: 25px;
    color: $grey;
    font-style: 'manga-temple';
    font-family: 'manga-temple';
  }

  .home {
    padding-top: 7%;
    display: inline-block;
    white-space: nowrap;

    #container {
      position: relative;
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: center;

      #image_gradient {
        background: $main-color;
      }

      #gradient {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
        left: 0;
        height: 300px;
        background: none;
        background: -moz-linear-gradient(top, rgba(99,148,248,0) 0%, rgba(99,148,248,1) 75%);
        background: -ms-linear-gradient(top, rgba(99,148,248,0) 0%,rgba(99,148,248,1) 75%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,148,248,0)), color-stop(75%,rgba(99,148,248,1)));
        background: -webkit-linear-gradient(top, rgba(99,148,248,0) 0%,rgba(99,148,248,1) 75%);
        background: -o-linear-gradient(top, rgba(99,148,248,0) 0%,rgba(99,148,248,1) 75%);
        background: linear-gradient(to bottom, rgba(99,148,248,0) 0%,rgba(99,148,248,1) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00ffffff', endColorstr='#ffff0f',GradientType=0 );
      }
    }

    .slogan {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: center;
    }
  }

  .content {
    margin: auto;
    background: $grey;
    border-radius: 10px;
    display: inline-block;
    margin: 2% 2% 0.5%;
    padding: 20px;
    text-align: justify;
    max-width: 90%;

    .store {
      width: 1350px;
    }

    a {
      text-decoration: none;
      color: $font-color;
      padding-right: 5px;
    }

    .preview {
      width: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      display: inline-block;
      margin: 10px;

      .preview-container {
        padding: 10px;
      }

      img {
        max-width: 240px;
        margin: auto;
        display: block;
      }

      .button {
        border-top: 1px solid #E8E8E8;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        padding: 15px;
        text-align: center;
        text-decoration: none;


        form,
        input {
          //padding-top: 15px;
          background: $main-color;
          border: none;
          color: white;
          font-size: 16px;
          float: none;
          width: 200px;
          height: 40px;
          border-radius: 5px;
          display: inline;

          &:hover {
            background: lighten($main-color, 3%);
            border: none;
          }
        }
      }
    }

    .panel {
      min-width: 500px;
      display: inline-block;

      img {
        max-width: 300px;
        float: left;
        display: block;
      }

      .button {
        //border-top: 1px solid #E8E8E8;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        padding: 10px;
        text-align: center;
        text-decoration: none;

        form,
        input {
          background: $main-color;
          border: none;
          color: white;
          font-size: 16px;
          float: none;
          width: 180px;
          height: 30px;
          border-radius: 5px;
          display: inline;

          &:hover {
            background: lighten($main-color, 3%);
            border: none;
          }
        }
      }

    }
  }
}
