@import "font-awesome";
@import "font-awesome-sprockets";
$light-text: #ABB0BE;
$main-color: #6394F8;

body {
  background: $main-color;
  position: absolute;
  z-index: 1;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#banner {
  font: 14px/22px "Lato", Arial, sans-serif;
  background: #6394F8;
  position: relative;

  .lighter-text {
    color: $light-text;
  }

  .main-color-text {
    color: $main-color;
  }

  #current_item {
    display: none;
  }

  nav {
    padding: 1px 0 50px;
    background: #F8F8F8;
    font-size: 16px;

    .navbar-left {
      float: left;
      margin-bottom: 20px;
    }

    .navbar-right {
      float: right;
    }

    ul {
      li {
        display: inline;
        padding-left: 10px;
        padding-top: 5px;
        list-style-type: none;

        a {
          color: #777777;
          text-decoration: none;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .container {
    margin: auto;
    width: 80%;
    position: absolute;
    cursor: pointer;
  }

  .badge {
    background-color: $main-color;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

  .shopping-cart {
    margin: 10px 0 0 0;
    padding: 20px 20px 15px 20px;
    float: right;
    background: white;
    min-width: 320px;
    position: relative;
    border-radius: 3px;
    z-index: 2;

    .shopping-cart-header {
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 15px;

      .shopping-cart-total {
        float: right;
      }
    }

    .shopping-cart-items {
      padding-top: 5px;
      padding-left: 10px;

      li {
        list-style-type: none;
      }

      img {
        float: left;
        margin-right: 12px;
      }

      .item-name {
        display: block;
        //padding-top: 10px;
        font-size: 16px;
        padding-top: 10px;

        #item-title {
          //padding-right: 20px;
        }
      }

      .item-price {
        color: $main-color;
        margin-right: 2px;
        float: right;
      }

      .item-quantity {
        color: $light-text;
        float: left;
      }
    }

    .quantity {
      form,
      input {
        background: white;
        color: $main-color;
        text-decoration: none;
        display: inline-block;
        border: none;
        font-size: 12px;
        float: right;

        &:hover {
          border: none;
          border-color: white;
        }
      }
    }
  }

  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }

  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }

  .button {
    display: block;
    font-size: 16px;
    margin: auto;
    padding: 0 15px 0 15px;
    text-align: center;
    text-decoration: none;

    form,
    input {
      background: $main-color;
      border: none;
      color: white;
      font-size: 16px;
      float: none;
      width: 280px;
      height: 40px;
      border-radius: 5px;
      display: inline;

      &:hover {
        background: lighten($main-color, 3%);
        border: none;
      }
    }

    // form.button-right {
    //   border-bottom-left-radius: 0;
    //   border-top-left-radius: 0;
    //   // border-left: solid;
    //   // border-left-color: #777777;
    // }
    //
    // form.button-left {
    //   border-bottom-right-radius: 0;
    //   border-top-right-radius: 0;
    //   // border-right: solid;
    //   // border-right-color: #777777;
    // }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none;
}

#columns {
  background: #141;
  display: flex;
  position: relative;

  #main {
    padding: 1em;
    background: white;
    flex: 1;
  }

  #side {
    padding: 1em 2em;
    background: #141;

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }

    div,
    form {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color: white;
    }

    table {
      border-top: 1px dotted #595;
      border-bottom: 1px dotted #595;
      margin-bottom: 10px;
    }
  }
}
@media all and (max-width: 800px) {
  #columns {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner .title {
    display: none;
  }
}

.depot_form {
  fieldset {
    background: #efe;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }

    div {
      margin-bottom: 0.3em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    input,
    select,
    textarea {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none;
    }
  }
}
